/* .card {
  background-color: rgba(255, 255, 255, 0.85);
}

.md-form label {
  color: #757575;
}


.rgba-indigo-slight {
  background: -webkit-linear-gradient(98deg,
      rgba(22, 91, 231, 0.5),
      rgba(255, 32, 32, 0.5) 100%);
  background: -webkit-gradient(98deg,
      rgba(22, 91, 231, 0.5),
      rgba(255, 32, 32, 0.5) 100%);
  background: linear-gradient(98deg,
      rgba(22, 91, 231, 0.5),
      rgba(255, 32, 32, 0.5) 100%);
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 2rem;
} */
